<% content_for :title, "Contact Us" %>

<div class="contact">
  <h4>Contact Us</h4>
  <p>Families in Christ Jesus Community has a large number of households in the
    Cleveland Area. Here are the contact information for the Local Leaders and
    Household Heads.</p>
  <h4>Local Council Members</h4>

  <div class="local_council_members">
    <div class="left_contact">
      <%= image_tag "Tunnel.jpg" %>
      <p><b>Arch Tunnell</b><br>
      <i>Council Leader</i><br>
      H: (440) 442-7538<br>
      <%= mail_to "arco58@roadrunner.com" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Jerry Cleland</b><br>
      <i>Council Member</i><br>
      H: (330) 248-7918<br>
      <%= mail_to "jcleland@neo.rr.com" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Mike Powall</b><br>
      <i>Council Member</i><br>
      H: (440) 461-8831<br>
      <%= mail_to "mdp@ucgrp.com" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Greg Kozar</b><br>
      <i>Council Member</i><br>
      H: (216) 732-7422<br>
      <%= mail_to "koz72@yahoo.com" %></p><br>
    </div>

    <div class="right_contact">
      <%= image_tag "Erickson.jpg" %>
      <p><b>Mark Erickson</b><br>
      <i>Council Member</i><br>
      H: (440) 256-6829<br>
      <%= mail_to "hpres9331@aol.com" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Ross Federico</b><br>
      <i>Council Member</i><br>
      H: (440) 646-2556<br>
      <%= mail_to "federor@ccf.org" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Vic Finomore</b><br>
      <i>Council Member</i><br>
      H: (440) 285-3697<br>
      <%= mail_to "vic@finomore.com" %></p><br><br>
    </div>
  </div>

  <h4>LOCAL LEADERS</h4>

  <div class="local_leaders">
    <div class="left_contact">
      <%= image_tag "Tunnel.jpg" %>
      <p><b>Arch Tunnell</b><br>
      <i>Council Leader</i><br>
      H: (440) 442-7538<br>
      <%= mail_to "arco58@roadrunner.com" %></p><br>
    </div>
    <div class="right_contact">
      <%= image_tag "Erickson.jpg" %>
      <p><b>Mark Erickson</b><br>
      <i>Council Member</i><br>
      H: (440) 256-6829<br>
      <%= mail_to "hpres9331@aol.com" %></p><br>
    </div>
  </div>

  <h4>HOUSEHOLD LEADERS</h4>

  <div class="household_leaders">
    <div class="left_contact">
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Rick &amp; Bernie Cavolo</b><br>
      H: (440) 285-8528<br>
      <%= mail_to "rcavolo@hotmail.com" %></p><br>
      <%= image_tag "DelValle.jpg", size: "197x225" %>
      <p><b>Irvin &amp; Rosa Del Valle</b><br>
      H: (440) 282-1821<br>
      <%= mail_to "irvindv@yahoo.com" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Ross &amp; Susan Federico</b><br>
      H: (440) 646-2556<br>
      <%= mail_to "federor@ccf.org" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Joe &amp; Mary Jeanne Koehler</b><br>
      H: (440) 256-3478<br>
      <%= mail_to "jkoeh@roadrunner.com" %></p><br>
      <%= image_tag "Powall.jpg" %>
      <p><b>Mike &amp; Connie Powall</b><br>
      H: (440) 461-8831<br>
      <%= mail_to "mdp@ucgrp.com" %></p><br>
      <%= image_tag "roach.jpg", size: "197x225" %>
      <p><b>Bob &amp; Chris Roach</b><br>
      H: (216) 531-4377<br>
      <%= mail_to "broach@jmselite.com" %></p><br>
      <%= image_tag "Skilton.jpg" %>
      <p><b>Ken &amp; Christina Skilton</b><br>
      H: (440) 205-8860<br>
      <%= mail_to "k.skilton@sbcglobal.net" %></p><br>
      <%= image_tag "Tunnel.jpg" %>
      <p><b>Arch Tunnell</b><br>
      H: (440) 442-7538<br>
      <%= mail_to "arco58@roadrunner.com" %></p><br>
    </div>

    <div class="right_contact">
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Matt &amp; Mary Chinchar</b><br>
      H: (216) 486-3310<br>
      <%= mail_to "chinmm@roadrunner.com" %></p><br>
      <%= image_tag "Erickson.jpg" %>
      <p><b>Mark &amp; Loretta Erickson</b><br>
      H: (440) 256-6829<br>
      <%= mail_to "hpres9931@aol.com" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Vic &amp; Debbie Finomore</b><br>
      H: (440) 285-3697<br>
      <%= mail_to "vic@finomore.com" %></p><br>
      <%= image_tag "McIlroy.jpg" %>
      <p><b>Bob &amp; Sue Mc Ilroy</b><br>
      H: (440) 286-7516<br>
      <%= mail_to "bob@mackplumbing.com" %></p><br>
      <%= image_tag "Rihtar.jpg" %>
      <p><b>Milan &amp; Blaze Rihtar</b><br>
      H: (440) 951-0389<br>
      <%= mail_to "brihtar@hotmail.com" %></p><br>
      <%= image_tag "JBRoach.jpg" %>
      <p><b>Jared &amp; Becky Roach</b><br>
      H: (216) 410-0251<br>
      <%= mail_to "jroach@salemcleveland.com" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Brian &amp; Kim Steigerwald</b><br>
      H: (440) 834-0068<br>
      <%= mail_to "bri.n.willy@gmail.com" %></p><br>
      <%= image_tag "NoPhoto.jpg" %>
      <p><b>Rich &amp; Joann Volk</b><br>
      H: (216) 383-6525<br>
      <%= mail_to "rejovo@roadrunner.com" %></p><br>
    </div>
  </div>
</div>
