<% content_for :title, "Common Catholic Prayers - Latin" %>
<div id="prayer_nav">
  <center><%= render 'layouts/navbarprayers' %></center>
</div>
<div class="prayer_left_column">
  <h4>Common Catholic Prayers (Latin)</h4>

  <h4>Sign of the Cross</h4>
  <p>In nomine Patris, et Filii, et Spiritus Sancti. Amen</p>

  <h4>Lord’s Prayer - Our Father (Oratio Dominicae - Pater noster)</h4>
  <p>PATER NOSTER, qui es in caelis, sanctificetur nomen tuum. Adveniat regnum
    tuum. Fiat voluntas tua, sicut in caelo et in terra. Panem nostrum
    quotidianum da nobis hodie, et dimitte nobis debita nostra sicut et nos
    dimittimus debitoribus nostris. Et ne nos inducas in tentationem, sed libera
    nos a malo. Amen.</p>

  <h4>Hail Mary Salutatio Angelica (Ave Maria)</h4>
  <p>AVE MARIA, gratia plena, Dominus tecum. Benedicta tu in mulieribus, et
    benedictus fructus ventris tui, Iesus. Sancta Maria, Mater Domini nostri,
    ora pro nobis peccatoribus, nunc, et in hora mortis nostrae. Amen.</p>

  <h4>Glory Be Doxologia Minor (Gloria Patri)</h4>
  <p>GLORIA PATRI, et Filio, et Spiritui Sancto. Sicut erat in principio, et
    nunc, et semper, et in saecula saeculorum. Amen.</p>

  <h4>Apostles’ Creed Symbolum Apostolorum</h4>
  <p>Credo in Deum Patrem omnipotentem, Creatorem caeli et terrae. Et in Iesum
    Christum, Filium eius unicum, Dominum nostrum, qui conceptus est de Spiritu
    Sancto, natus ex Maria Virgine, passus sub Pontio Pilato, crucifixus,
    mortuus, et sepultus, descendit ad inferos, tertia die resurrexit a mortuis,
    ascendit ad caelos, sedet ad dexteram Dei Patris omnipotentis, inde venturus
    est iudicare vivos et mortuos. Credo in Spiritum Sanctum, sanctam Ecclesiam
    catholicam, sanctorum communionem, remissionem peccatorum, carnis
    resurrectionem, vitam aeternam. Amen.</p>

  <h4>Hail Holy Queen (Salve Regina)</h4>
  <p>SALVE REGINA, Mater misericordiae. Vita, dulcedo, et spes nostra, salve.
    Ad te clamamus exsules filii Hevae. Ad te Suspiramus, gementes et flentes in
    hac lacrimarum valle. Eia ergo, Advocata nostra, illos tuos misericordes
    oculos ad nos converte. Et Iesum, benedictum fructum ventris tui, nobis post
    hoc exsilium ostende. O clemens, o pia, o dulcis Virgo Maria.<br>
    V. Ora pro nobis, Sancta Christi Genetrix.<br><br>
    R. Ut digni efficiamur promissionibus Christi.</p>

  <h4>Memorare</h4>
  <p>Memorare, o piisima Virgo Maria, non esse auditum a saeculo, quemquam ad
    tua currentem praesidia, tua implorantem auxilia, tua petentem suffragia
    esse derelicta. Nos tali animati confidentia ad te, Virgo Virginum, Mater,
    currimus; ad te venimus; coram te gementes peccatores assistimus. Noli,
    Mater Verbi, verba nostra despicere, sed audi propitia et exaudi. R. Amen.</p>

  <h4>The Angelus</h4>
  <p>V.  Angelus Domini nuntiavit Mariae;<br>
    R.  Et concepit de Spiritu Sancto.<br><br>

    All.  Ave Maria, gratia plena, Dominus tecum. Benedicta tu in mulieribus, et
    benedictus fructus ventris tui, Iesus. Sancta Maria, Mater Domini nostri, ora
    pro nobis peccatoribus, nunc, et in hora mortis nostrae.  Amen.<br><br>

    V.  Ecce ancilla Domini.<br>
    R.  Fiat mihi secundum verbum tuum.<br><br>

    All.  Ave Maria, gratia plena, Dominus tecum. Benedicta tu in mulieribus, et
    benedictus fructus ventris tui, Iesus. Sancta Maria, Mater Domini nostri, ora
    pro nobis peccatoribus, nunc, et in hora mortis nostrae.  Amen.<br><br>

    V.  Et Verbum caro factum est.<br>
    R.  Et habitavit in nobis.<br>
    All.  Ave Maria, gratia plena, Dominus tecum. Benedicta tu in mulieribus, et
    benedictus fructus ventris tui, Iesus. Sancta Maria, Mater Domini nostri, ora
    pro nobis peccatoribus, nunc, et in hora mortis nostrae.  Amen.<br><br>

    V.  Ora pro nobis, sancta Christi Genetrix.<br>
    R.  Ut digni efficiamur promissionibus Christi.<br>
    V.  Oremus.  Gratiam tuam, quaesumus, Domine, mentibus nostris infunde; ut
    qui, Angelo nuntiante, Christi Filii tui incarnationem cognovimus, per
    passionem eius et crucem, ad resurrectionis gloriam perducamur. Per eundem
    Christum Dominum nostrum.   All.  Amen.</p>

  <h4>Daily Prayers:<br>
    Prayer Before Meals</h4>
    <p>Benedic, Domine, nos et haec tua dona quae de tua largitate sumus sumpturi.
      Per Christum Dominum nostrum.  Amen.</p>

  <h4>Prayer to Our Guardian Angel</h4>
  <p>Angele Dei,<br>
  qui custos es mei,<br>
  me, tibi commissum pietate superna,<br>
  illumina, custodi,<br>
  rege et guberna.<br>
  Amen.</p>

  <h4>Act of Contrition</h4>
  <p>Deus meus, ex toto corde poenitet me omnium meorum peccatorum, eaque
    detestor, quia peccando, non solum poenas a Te iuste statutas promeritus sum,
    sed praesertim quia offendi Te, summum bonum, ac dignum qui super omnia
    diligaris. Ideo firmiter propono, adiuvante gratia Tua, de cetero me non
    peccaturum peccandique occasiones proximas fugiturum. Amen.</p>

  <h4>Prayer after Mass:<br>
    Anima Christi</h4>
  <p>Anima Christi, sanctifica me.<br>
  Corpus Christi, salva me.<br>
  Sanguis Christi, inebria me.<br>
  Aqua lateris Christi, lava me.<br>
  Passio Christi, conforta me.<br>
  O bone Jesu, exaudi me.<br>
  Intra tua vulnera absconde me.<br>
  Ne permittas me separari a te.<br>
  Ab hoste maligno defende me.<br>
  In hora mortis meae voca me.<br>
  Et iube me venire ad te,<br>
  Ut cum Sanctis tuis laudem te.<br>
  In saecula saeculorum.<br>
  Amen<p>

  <h4>Prayers to the Holy Spirit:<br>
  Come, Holy Spirit</h4>
  <p>Veni, Sancte Spiritus, reple tuorum corda fidelium: et tui amoris in eis
    ignem accende. V. Emitte Spiritum tuum, et creabuntur. R. Et renovabis
    faciem terrae. Oremus. Deus, qui corda fidelium Sancti Spiritus illustratione
    docuisti: da nobis in eodem Spiritu recta sapere; et de eius semper
    consolatione gaudere. Per Christum, Dominum nostrum.</p>

  <h4>Prayer to Saint Michael the Archangel</h4>
  <p>Sancte Michael Archangele, defende nos in proelio, contra nequitiam et
    insidias diaboli esto praesidium. Imperet illi Deus, supplices deprecamur:
    tuque, Princeps militiae coelestis, Satanam aliosque spiritus malignos, qui
    ad perditionem animarum pervagantur in mundo, divina virtute, in infernum
    detrude. Amen.</p>
</div>

<div class="prayer_right_column">
  <%= image_tag "prayer.jpg" %><br><br>
  <%= image_tag "lastsupper.jpg" %><br><br>
  <%= image_tag "HS.jpg" %><br><br>
  <%= image_tag "laughing-jesus.jpg" %><br><br>
  <%= image_tag "michael-the-archangel.jpg" %>
</div>
