<% content_for :title, "Home" %>
<div id="placeholder">
  <embed src="<%= asset_path('FCJCHome.swf') %>" />
</div>

<div id="sitenavs">
  <ul>
    <li><%= link_to image_tag("FamiliesMatter.jpg", alt: "Families Matter"),
        newsletters_index_path %></li>
    <li><%= link_to image_tag("NPG.jpg", alt: "Prayer Gathering"),
        static_pages_prayer_gathering_path %></li>
    <li><%= link_to image_tag("EndAbortion.jpg", alt: "End Abortion"),
        "http://www.priestsforlife.org/novenas/prayer.aspx" %></li>
    <li><%= link_to image_tag("LCS.jpg", alt: "FCJC Calender"),
        static_pages_calender_path %></li>
    <li><%= link_to image_tag("Pledge.jpg", alt: "Pledge of Allegiance to the Cross"),
        static_pages_pledge_path%></li>
  </ul>
</div>
<div class="content">
  <h4>Families Bringing Families to Christ</h4>
    <p>We believe that God created the family. That His model is that of a man and a
     woman united by God bringing forth life in their offsprings <b><i>(Gen.1:28)</i></b>. We
     uphold His command for this union to be permanent and indissoluble mirroring
     the fidelity of Christ to His Church.</p>
     <p>We believe that in the family the core message of Christ, love, is learned
     and experienced.</p>
     <p>We affirm the Holy Father's words "the future of evangelization depends in
     great part on the church of the home" <b><i>(FC.52.2.)</i></b>.</p>
     <p>We believe that there is a concerted and deliberate attack on the family and
     the institution of marriage. Powerful forces have caused confusion breaking
     apart families leading to alcoholism, promiscuity, drug abuse and other social
     problems of epidemic proportions.</p>
     <p>Aware of all these, we believe that only Christ Jesus and the power of His
     Cross can turn around this prevailing "Culture of Death" into a Civilization
     of Love and Life.</p>
     <p>Therefore, we commit ourselves and all our resources to witness to individuals
     and to other families the Gospel. We witness to the indissolubility of the
     Sacrament of Marriage. We witness to the right and responsibility of parents
     to mold and educate their children into mature, whole, and God-centered
     individuals. We witness to the sacred duty of children to obey the Lord's
     command to honor and respect their parents as to the Lord.</p>
     <p>We believe that through the guidance of the Holy Spirit and in the power of
     the Cross, we will bring all families to Christ and to His Church.</p>
</div>
