<% content_for :title, "Links" %>
<div class="links">
<h4>Links</h4>
<p>Here are some links to online resources to help in your daily spiritual life.</p>
  <table>
    <tr>
      <td><%= image_tag "CatechismOnline.jpg" %><a href="http://www.scborromeo.org/ccc.htm">
        <p><b>Catechism of the Catholic Church Online</b></p></a></td>
      <td><%= image_tag "usccb_website.jpg" %><a href="http://www.usccb.org/">
        <p><b>United States Conference of Catholic Bishops</b></p></a></td>
      <td><%= image_tag "thewordamongus.jpg" %><a href="http://wau.org/meditations/current/">
        <p><b>The Word Among Us</b></p></a></td>
    </tr>
    <tr>
      <td><%= image_tag "Magnificat.jpg" %><a href="http://www.magnificat.net/flipbookus/index.asp">
        <p><b>Magnificat Online</b></p></a></td>
      <td><%= image_tag "ourdailybread.jpg" %><a href="http://odb.org/">
        <p><b>Our Daily Bread Online</b></p></a></td>
      <td><%= image_tag "GodCallingOnline.jpg" %><a href="http://www.twolisteners.org/God%20Calling%20TOC.htm">
        <p><b>God Calling</b></p></a></td>
  </table>
</div>
