<% content_for :title, "Links" %>
<div class="links">
  <div id="top_para">
    <h4>Links</h4>
    <p>Here are some links to online resources to help in your daily spiritual life.</p>
  </div>

    <table>
      <tr>
        <td><%= link_to "http://www.scborromeo.org/ccc.htm", :target => "_blank" do %>
            <%= image_tag("CatechismOnline.jpg", alt: "St. Charles Borromeo Catholic Church") %>
            <p>Catechism of the Catholic Church Online</p>
            <% end %>
        </td>
        <td><%= link_to "http://www.usccb.org/", :target => "_blank" do %>
            <%= image_tag("usccb_website.jpg", alt: "United States Conference of Catholic Bishops") %>
            <p>United States Conference of Catholic Bishops</p>
            <% end %>
        </td>
        <td><%= link_to "http://wau.org/meditations/current/", :target => "_blank" do %>
            <%= image_tag("thewordamongus.jpg", alt: "The Word Among Us") %>
            <p>The Word Among Us</p>
            <% end %>
        </td>
      </tr>
      <tr>
        <td><%= link_to "http://www.magnificat.net/flipbookus/index.asp", :target => "_blank" do %>
            <%= image_tag("Magnificat.jpg", alt: "Magnificat Online") %>
            <p>Magnificat Online</p>
            <% end %>
        </td>
        <td><%= link_to "http://odb.org/", :target => "_blank" do %>
            <%= image_tag("ourdailybread.jpg", alt: "Our Daily Bread Online") %>
            <p>Our Daily Bread Online</p>
            <% end %>
        </td>
        <td><%= link_to "http://www.twolisteners.org/God%20Calling%20TOC.htm", :target => "_blank" do %>
            <%= image_tag("GodCallingOnline.jpg", alt: "God Calling Online") %>
            <p>God Calling</p>
            <% end %>
       </td>
    </table>
</div>
