<% content_for :title, "Links" %>
<div class="links">
  <div id="top_para">
    <h4>Links</h4>
    <p>Here are some links to online resources to help in your daily spiritual life.</p>
  </div>
    <table>
      <tr>
        <td><a href="http://www.scborromeo.org/ccc.htm";><%= image_tag "CatechismOnline.jpg" %>
          <p>Catechism of the Catholic Church Online</p></a></td>
        <td><a href="http://www.usccb.org/"><%= image_tag "usccb_website.jpg" %>
          <p>United States Conference of Catholic Bishops</p></a></td>
        <td><a href="http://wau.org/meditations/current/"><%= image_tag "thewordamongus.jpg" %>
          <p>The Word Among Us</p></a></td>
      </tr>
      <tr>
        <td><a href="http://www.magnificat.net/flipbookus/index.asp"><%= image_tag "Magnificat.jpg" %>
          <p>Magnificat Online</p></a></td>
        <td><a href="http://odb.org/"><%= image_tag "ourdailybread.jpg" %>
          <p>Our Daily Bread Online</p></a></td>
        <td><a href="http://www.twolisteners.org/God%20Calling%20TOC.htm"><%= image_tag "GodCallingOnline.jpg" %>
          <p>God Calling</p></a></td>
    </table>
</div>
