<% content_for :title, "Links" %>
<div class="content">
<h4>Links</h4>
<p>Here are some online links/resources to help in your daily spiritual life.</p>
  <table>
    <tr>
      <td><%= image_tag "CatechismOnline.jpg" %>image1</td>
      <td><%= image_tag "usccb_website.jpg" %>image2</td>
      <td><%= image_tag "thewordamongus.jpg" %>image3</td>
    </tr>
    <tr>
      <td><%= image_tag "Magnificat.jpg" %>image1</td>
      <td><%= image_tag "ourdailybread.jpg" %>image2</td>
      <td><%= image_tag "GodCallingOnline.jpg" %>image3</td>
  </table>
</div>
