<% content_for :title, "Links" %>
<div class="links">
  <div id="top_para">
    <h4>Links</h4>
    <p>Here are some links to online resources to help in your daily spiritual life.</p>
  </div>
    <table>
      <tr>
        <td id="link1"><%= image_tag "CatechismOnline.jpg" %><a href="http://www.scborromeo.org/ccc.htm";>
          <p>Catechism of the Catholic Church Online</p></a></td>
        <td><%= image_tag "usccb_website.jpg" %><a href="http://www.usccb.org/">
          <p>United States Conference of Catholic Bishops</p></a></td>
        <td><%= image_tag "thewordamongus.jpg" %><a href="http://wau.org/meditations/current/">
          <p>The Word Among Us</p></a></td>
      </tr>
      <tr>
        <td><%= image_tag "Magnificat.jpg" %><a href="http://www.magnificat.net/flipbookus/index.asp">
          <p>Magnificat Online</p></a></td>
        <td><%= image_tag "ourdailybread.jpg" %><a href="http://odb.org/">
          <p>Our Daily Bread Online</p></a></td>
        <td><%= image_tag "catholicanswers.jpg" %><a href="http://www.twolisteners.org/God%20Calling%20TOC.htm">
          <p>God Calling</p></a></td>
    </table>
</div>
