<% content_for :title, "FCJC Newsletters" %>
<div class="left_side_add_docs">

  <div class='left_side_index'>
    <h4><%= @title %></h4>
    <p>Clink on the issue of Families Matter Newsletter.</p><br>

    <% @newsletters.each do |newsletter| %>
      <h5><%= link_to "#{newsletter.month} #{newsletter.year}",
          newsletter.attachment_url, :target => "_blank" %></h5>
      <p><%= newsletter.title %></p><br>

      <%= button_to "Delete",  newsletter, method: :delete,
          confirm: "Are you sure that you wish to delete #{newsletter.title}?" %>
    <% end %>
    <br>

    <% if flash[:notice].present? %>
      <div class="alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>

  </div>

  <%= button_to "Add Newsletter", new_newsletter_path %>
</div>

<div class="right_column_fm">
  <%= image_tag('holyfamily_pic.jpg', size: "474x270") %>
</div>
