<% content_for :title, "FCJC Newsletters" %>
<div class="left_side_add_docs">
<% if !flash[:notice].blank? %>
  <div class="alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br>
<h4><%= @title %></h4>
<p>Clink on link to download an issue of Families Matter Newsletter.</p><br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.title %></td>
        <td><%= link_to "Download .pdf", newsletter.attachment_url, :target => "_blank" %></td>
        <td><%= button_to "Delete",  newsletter, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{newsletter.title}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= link_to "Add Newsletter", new_newsletter_path %>
</div>

<div class="right_column_fm">
  <%= image_tag('holyfamily_pic.jpg', size: "474x270") %>
</div>
