<% content_for :title, "Gallery" %>

<div class = "gallery">
  <h4><%= @title %></h4>

  <div class ="gallery_table">
    <% @galleries.each do |gallery| %>
      <div class="gallery_album">
        <%= image_tag 'notebook.jpg', size: "100x100" %><br>
        <%= gallery.name %> <%= gallery.date %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Create Album", new_gallery_path, class: "link_button" %>
