<% content_for :title, "Gallery" %>

<div class = "gallery">
  <h4><%= @title %></h4>

  <% if flash[:notice].present? %> <!-- Alerts user if gallery was created or deleted -->
    <div class="alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class ="gallery_table">
    <% @galleries.each do |gallery| %>
      <div class="gallery_album">
        <%= link_to(image_tag('notebook.jpg', size: "225x200"),
         {:controller => "images", :action => "index", :param => gallery.id }) %><br>
        <center><p><%= gallery.name %><br>
           <%= gallery.month %> <%= gallery.day %>, <%= gallery.year %></p>
        <%= button_to "Delete", gallery , method: :delete,
            confirm: "Are you sure that you wish to delete #{gallery.name} #{gallery.month} #{gallery.day},
            #{gallery.year}?" %></center>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Create Album", new_gallery_path, class: "gallery_button" %>
