<!DOCTYPE html>
<html>
<head>
  <title>Families in Chirst Jesus Communities | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <div class ="main_container">
        <%= render 'layouts/banner' %>

        <div class="topnavbar">
            <center>
              <ul>
                <li><%= link_to "Home", static_pages_index_path %></li>
                <li><%= link_to "About", static_pages_about_path %></li>
                <li><%= link_to "Mission", static_pages_mission_path %></li>
                <li><%= link_to "Prayers", static_pages_prayers_path %></li>
                <li><%= link_to "Youth", static_pages_youth_path %></li>
                <li><%= link_to "Gallery", static_pages_gallery_path %></li>
                <li><%= link_to "Contact Us", static_pages_contact_us_path %></li>
                <li><%= link_to "Links", static_pages_links_path %></li>
              </ul>
            </center>
        </div>

        <%= yield %>

        <div class="footer">
          <center>
            <%= render 'layouts/footer' %>
            <%= render 'layouts/copyright' %>
          </center>
        </div>

    </div>
  </body>
</html>
