<!DOCTYPE html>
<html>
<head>
  <title>Families in Christ Jesus Communities | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <div class ="main_container">
        <%= render 'layouts/banner' %>

        <div class="topnavbar">
            <center>
              <%= render 'layouts/topnavbar' %>
            </center>
        </div>

        <%= yield %>

        <!-- Flash messages for Devise gem -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <div class="footer">
          <center>
            <%= render 'layouts/footer' %>
            <%= render 'layouts/copyright' %>
          </center>
        </div>

    </div>
  </body>
</html>
